[tool.poetry]
name = "fhirstarter"
version = "1.5.0"
description = "An ASGI FHIR API framework built on top of FastAPI and FHIR Resources"
authors = ["Christopher Sande <christopher.sande@canvasmedical.com>"]
maintainers = ["Canvas Medical Engineering <engineering@canvasmedical.com>"]
readme = "README.md"
homepage = "https://github.com/canvas-medical/fhirstarter"
repository = "https://github.com/canvas-medical/fhirstarter"
keywords = ["fhir", "api", "resources", "framework", "fastapi", "healthcare", "hl7"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Web Environment",
    "Framework :: AsyncIO",
    "Framework :: FastAPI",
    "Intended Audience :: Developers",
    "Intended Audience :: Healthcare Industry",
    "Intended Audience :: Information Technology",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.11",
    "Topic :: Internet",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed"
]

[tool.poetry.dependencies]
python = "^3.11"
fastapi = ">=0.103.1,<0.106.0"
"fhir.resources" = ">=6.4.0"
lxml = "^4.9.3"
pydantic = ">=1.10.12,<2.0.0"
python-multipart = "^0.0.6"
tzdata = "^2023.3"

[tool.poetry.group.dev.dependencies]
black = "^23.7.0"
beautifulsoup4 = "^4.12.2"
funcy = "^2.0"
httpx = ">=0.24.1,<0.26.0"
isort = "^5.12.0"
mypy = "^1.5.1"
pytest = "^7.4.0"
requests = "^2.31.0"
types-requests = "^2.31.0.2"
uvicorn = { version = ">=0.23.2,<0.25.0", extras = ["standard"] }

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
check_untyped_defs = true
color_output = true
disallow_incomplete_defs = true
disallow_untyped_calls = true
disallow_untyped_decorators = false
disallow_untyped_defs = true
error_summary = true
follow_imports = "skip"
ignore_missing_imports = true
no_implicit_optional = true
pretty = true
show_error_context = true
strict_equality = true
strict_optional = true
warn_no_return = true
warn_redundant_casts = true
warn_return_any = false
warn_unreachable = true
warn_unused_ignores = true
follow_imports_for_stubs = true
